.navbar {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  opacity: 0.5;
  margin-top: 5px;
  gap: 15px;
  z-index: 1000;

  @media (max-width: 768px) {
    gap: 0px; /* Gap reducido en pantallas más pequeñas */
  }
}

.navbar:hover {
  opacity: 1;
}
